<h1> Headset by Hyrum </h1>
<h2> Beats by Baccete </h2>
<br>
<ul>
  <% @headsets.each do |headset| %>
    <li> <%= link_to headset.name, headset_path(headset) %> </li> 
  <% end %><br><br><br><br>
  <%= link_to "Make New", new_headset_path %>
<ul><br><br>

